################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Github/Computer Programming 1/PasswordLoginForm/.vs/PasswordLoginForm/FileContentIndex/12fb9c19-b666-41f7-b249-35b891627948.vsidx
